<h1>All Users</h1>
<% @users.each do |u| %>
<%= link_to u.name, user_path(u) %><br>
<%= u.email %><br>
<%= link_to "edit user", edit_user_path(u) %><br>
<%= link_to "delete user", user_path(u), method: :delete %><br>
<% end %>
