<hr>
  <table class="table table-hover">
    <tr class="danger" >
    <th class="col-md-4">Contact Name</th>
    <th class="col-md-4">Email</th>
    <th class="col-md-4">Phone </th>
    </tr>
    <% @contacts.each do |c| %>
      <tr  class="info">
        <td class="col-md-4">
      <%= link_to c.name, contact_path(c) %>
    </td>
    <td class="col-md-4">
      <%= c.email %>
    </td>
    <td class="col-md-4">
      <%= c.phone %>
    </td></tr>
    <% end %>
  </table>

</hr>
