<ul>
<% @activities.each do |a| %>
<li>
<%# link_to a.name, contact_activity_path(@contact,a) %><br>
Handled by: <%= a.contact.user.name %> 
<%= link_to a.name, activity_path(a) %><br>
<%= a.description %><br>
<%= a.status %><br></li>
<% end %>
</ul>
