<table class="table table-hover">
  <tr class="danger" >
  <th class="col-md-3">Handled by</th>
  <th class="col-md-3">Activity Name</th>
  <th class="col-md-3">Description</th>
  <th class="col-md-3">Status</th>
  </tr>
<% @activities.each do |a| %>
<%# link_to a.name, contact_activity_path(@contact,a) %><br>
<tr  class="info">
  <td class="col-md-4">
    <%= a.contact.user.name %>
  </td>
  <td>
    <%= link_to a.name, activity_path(a) %><br>
  </td>
  <td>
    <%= a.description %><br>
  </td>
  <td>
    <%= a.status %><br></li>
  </td>
  </tr>
<% end %>
</table>
